@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245);
}

.chat_section {
    width: 50%;
    margin: 0px auto;
    background: #fff;
}

.chatbox {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    background: #fff;
    text-align: center;
    color: #fff;
    
}

.chat_header {
    background: pink;
    font-size: 2rem;
    padding: 10px 0px;
    z-index: 999;
    position: absolute;
    width: 50%;
}

.chat_text {
    bottom: 20px;
    display: flex;
    flex-flow: column;
    width: 50%;
    position: absolute;
    margin-bottom: 170px;
}

.chat_text li {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    list-style-type: none;
    background-color: rgb(167, 167, 167);
    color: #000;
    margin: 8px 40px;
    font-weight: 500;
    padding: 15px;
    border-radius: 25px;
    width: fit-content;
    position: relative;

}

.chat_text li span {
    display: flex;
    position: absolute;
    left:-40px;
    padding: 9px;
    background: pink;
    font-size: 16px;
    color: #000;
    border-radius: 5px;
}

.outgoing {
    background: #eef0eeee;
    align-self: end;
}

.incoming {
    background: #fcb8ff;
    left: 10px;
}

.chatbot_msg{
    background-color: rgb(167, 167, 255) !important;
    color: #000 !important;
}

.user_msg {
    background-color: rgb(167, 167, 167) !important;
    color: #000 !important;
    margin-top: 16px !important;
    margin-bottom: 18px !important;
    right: 0px;
}

p {

}

.user_input {
    position: absolute;
    bottom: 45px;
    width: 50%;
    right: 25%;
    height: 70px;
    border: 1px solid #44444459;
    resize: none;
    font-size: 17px;
    border-radius: 5px;
    padding-top: 10px;
}

.send_btn {
    position: absolute;
    bottom: 0px;
    width: 50%;
    right: 25%;
    padding: 9px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #44444459;
    border-radius: 5px;
}

.send_btn:hover {
    background: pink;
    cursor: pointer;
}